body {
  font-family: Arial;
  background: linear-gradient(to right, #fff, #ffd6d6);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 350px;
  background: white;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

h2 {
  color: #c40000;
}

select, input {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.form {
  display: none;
}

button {
  width: 100%;
  padding: 10px;
  background: #c40000;
  color: white;
  border: none;
  border-radius: 6px;
}